<h1>hello Nikhil begin with angular18</h1>
<!--

package.json is a file which contains all the requirments and info of project for create and it helps node modules to download the
dependancies from google
// this are packages which is a part of project during the devlopment of project on our local machine called devdependancies
<br/>
// this are the packages which will be part of my project even if we created a build for deployment  called dependancies

-->



<table>
    <tr>
        <td><app-list-employee></app-list-employee></td>
        <td><app-add-employee></app-add-employee></td>
    </tr>
</table>

<app-databinding></app-databinding>